[submodule "website/themes/hugo-theme-cleanwhite"]
	path = website/themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "website/public/biocomplexnet.github.io"]
	path = website/public/biocomplexnet.github.io
	url = https://github.com/biocomplexnet/biocomplexnet.github.io.git
[submodule "webpage/themes/hugo-theme-cleanwhite"]
	path = webpage/themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "webpage/public/biocomplexnet.github.io"]
	path = webpage/public/biocomplexnet.github.io
	url = https://github.com/biocomplexnet/biocomplexnet.github.io.git
	branch = main
[submodule "webpage/biocomplexnet.github.io"]
	path = webpage/biocomplexnet.github.io
	url = https://github.com/biocomplexnet/biocomplexnet.github.io.git
	branch = main
